body { background: #231f20 !important; color: aliceblue !important; }

.actions ul { list-style: none; margin: 10px; padding: 10px; }

.actions li { margin: 30px; }

.actions a { 
    background-color: #231f20; 
    color: white; border: 1px solid white; 
    padding: 10px; 
    border-radius: 5px;
    text-decoration: none;
}

.actions a:hover, .actions a:focus {
    background-color: white;
    color: #231f20; border: 1px solid white;
}
